.experience {
  color: $lightGrey;
  font-family: "Sen-Regular";

  &__body {
    padding-top: 120px;
    padding-bottom: 120px;
    
    @media (max-width: 1440px) {
      padding-top: calc(48px + (120 - 48) * ((100vw - 360px) / (1440 - 360)));
      padding-bottom: calc(48px + (120 - 48) * ((100vw - 360px) / (1440 - 360)));
    }
  }

  &__list {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 100px;

    @media (max-width: 768px) {
      gap: 50px;
    }

    @media (max-width: 628px) {
      grid-template-columns: 1fr;
    }
  }

  &__number {
    font-size: 117px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &__lid {
    color: $text;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    padding-bottom: 24px;

    @media (max-width: 1440px) {
      padding-bottom: calc(16px + (24 - 16) * ((100vw - 360px) / (1440 - 360)));
    }

    .lid__green {
      color: $greenAccent;
    }

    .lid__blue {
      color: $primary;
    }

    .lid__pink {
      color: $pinkAccent;
    }
  }

  &__description {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }
}

.title {

  &__lid {
    font-family: "Sen-Bold";
    font-size: 16px;
    line-height: 150%;
    text-transform: uppercase;
    padding-bottom: 5px;
    margin-bottom: 5px;
    color: $lightGrey;
  }

  &__content {
    color: $text;
    font-family: "Sen-Regular";
    font-size: 55px;
    line-height: normal;
    margin-bottom: 40px;
    padding-bottom: 40px;

    @media (max-width: 1440px) {
      margin-bottom: calc(20px + (40 - 20) * ((100vw - 360px) / (1440 - 360)));
      padding-bottom: calc(20px + (40 - 20) * ((100vw - 360px) / (1440 - 360)));
    }

    @media (max-width: 768px) {
      font-size: 32px;
    }
  }
}
