/* Main Screen colors */
$base: #000000;
$level1: #181823;
$lightGrey: #8491A0;
$darkGrey: #5B6876;
$text: #ffffff;
$primary: #5120E2;
$greenAccent: #3CC74E;
$pinkAccent: #E95D90;
$peachAccent: #FFF3E4;
$violetAccent: #FFF3E4;
;

/* Screen dimensions */
$mobile: calc(320px + 30px);
$tablet: calc(768px + 30px);
$laptop: calc(1024px + 30px);
$desktop: calc(1440px + 30px);

@mixin mobile {
  @media (max-width: #{$mobile}) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: #{$tablet}) {
    @content;
  }
}

@mixin laptop {
  @media (max-width: #{$laptop}) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: #{$desktop}) {
    @content;
  }
}

@mixin font($name, $weight) {
  font: {
    family: $name;
    weight: $weight;
    display: swap;
  }
  src: url("../fonts/#{ $name }.woff")  format("woff"),
}

